.home {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(31, 29, 33);
  background: linear-gradient(230deg, rgb(206, 129, 197) 0%, rgb(108, 82, 135) 100%);
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}

.profile__foto {
  filter: grayscale();
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
}


.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px -40px 40px #000;
}

.profile__foto {
  filter: grayscale();
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
  ;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
}

.chibi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chibi img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-h1 {
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink-cursor {
  0%, 100% { border-color: transparent; }
  50% { border-color: #fff; }
}