@charset "UTF-8";

@import url(reset.css);
@import url(header.css);
@import url(sobremim.css);
@import url(meusprojetos.css);
@import url(contateme.css);
@import url(modal.css);


:root {
    --cor-principal: #C14F82;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #666;
    --rosa-medio: #D986AB;
    --rosa-claro: #F9CDE1;
    --rosa-hover: #E0A8C5;
    --sombra: rgba(0, 0, 0, 0.9);

    /* fontes  */
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Chelsea Market', cursive;
    --fonte-logo: 'Barriecito', cursive;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 1rem 1.0625rem 14rem 1.0625rem;
    background-image: url(../assets/background/Background_mobile.svg);
    background-size: cover;
    background-position: center;
    font-family: var(--fonte-principal);

}

@media (min-width: 1080px) {
    body {
        padding: 1.5rem 6rem 14rem 6rem;
        background-image: url(../assets/background/Background_Desktop.svg);

    }
}